doctype html
html(lang="en")
  head
    title Mentor Students
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    link(href="/css/app.css" rel="stylesheet")
    link(href="/favicon.ico?v2" rel="icon")
  body
    #root
    script(src="/js/vendors.js")
    script(src="/js/common.js")
    script(src="/js/app.js")
